.App {
  text-align: center;
  padding: 20px 30px;

  .Title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .Info {
    display: flex;
    justify-content: center;
  
    .Left {
      flex-basis: 30%;
      flex-shrink: 1;
    }
  
    .Center {
      flex-basis: 40%;
      flex-shrink: 0;
    }
  
    .Right {
      flex-basis: 30%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
  
      & > div {
        padding-top: 8px;

        &:first-child {
          text-align: right;
        }
  
        &:last-child {
          margin-left: 10px;
          text-align: left;
        }
      }
      
      p {
        display: flex;
        flex-direction: column;
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }
  }
  
  .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .Maps {
      margin-top: 30px;
      width: 100%;
      position: relative;

      .ButtonsWrapper {
        position: absolute;
        top: 5px;
        right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .App {
    padding: 20px 10px;

    .Title {
      font-size: 42px; // 1.96em;
    }
  
    .Info {
      flex-wrap: wrap;
  
      .Left {
        flex-basis: 100%;
        flex-shrink: 0;
      }
    }
  }
}
