.App {
  text-align: center;
  padding: 15px 30px;

  .Selections {
    position: fixed;
    top: 36px;
    right: 20px;
    z-index: 1;
  }

  .Title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .Maps {
      margin-top: 30px;
      width: 60%;
      position: relative;

      .Navigation {
        position: absolute;
        top: -20px;
        left: 0;
        font-size: 11px;

        button {
          outline: none;
          border: none;
          background-color: transparent;
          color: #413ea0;
          text-decoration: underline;
          cursor: pointer;
        }

        span {
          color: black;
        }
      }

      .ZoomInfo {
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: #000;
        z-index: -1;
      }

      .ButtonsWrapper {
        position: absolute;
        top: -34px;
        right: 0;
      }
    }
  }

  .Info {
    display: flex;
    justify-content: center;
  
    .Left {
      flex-basis: 30%;
      flex-shrink: 1;
    }
  
    .Center {
      flex-basis: 40%;
      flex-shrink: 0;

      h1 {
        color: pink;
      }
    }
  
    .Right {
      padding-top: 8px;
      margin-left: 10px;
      flex-basis: 30%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;

      h2 {
        &:first-child {
          color: green;
        }

        &:last-child {
          color: red;
        }
      }
  
      & > div {
        &:first-child {
          text-align: right;
        }
  
        &:last-child {
          margin-left: 10px;
          padding-top: 1px;
          text-align: left;
        }
      }
      
      p {
        display: flex;
        flex-direction: column;
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }
  }

  .Footer {
    padding: 80px 0 20px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 500px) {
  .App {
    padding: 20px 10px;

    .Title {
      font-size: 29px; // 1.96em;
    }

    .Content {
      .Maps {
        width: 100%;
      }
    }
  
    .Info {
      flex-wrap: wrap;
  
      .Left {
        flex-basis: 100%;
        flex-shrink: 0;
      }

      .Right {
        padding-top: 6px;
      }
    }
  }
}
